<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cleveroad.bootstrap.kotlin_gps">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />


    <application>
        <service android:name=".service.GpsTrackerService" />
    </application>

</manifest>